mat-grid-tile {
  background: none; /* Remove background color */
}

img {
  width: 900px;
  height: 450px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #8B4513; /* Set text color to brown */
}

.pick {
  padding-left: 100px;
  background-color: #6495ED; /* Set background color to blue */
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #8B4513; /* Change border color of selected radio button to brown */
}

.example-radio-button {
  color: #8B4513; /* Change font color of unselected choices to brown */
}

.example-radio-button.mat-accent.mat-radio-checked {
  color: #8B4513; /* Change font color of selected choice to brown */
}

.selected-season {
  color: #8B4513; /* Change font color of the selected season text to brown */
}
