<section class="bg" style="padding-top: 1em; color:antiquewhite; background-color: rgb(38, 23, 13);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0" style="background-color: #211106; padding: 3em;">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="assets\me.jpg" width="500" height="500" alt="...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded" style="background-color: rgb(59, 37, 21); padding-bottom: 1em;">
                                    <h3 class="h2 mb-0" style="background-color: rgb(59, 37, 21); color:antiquewhite; font-family: copperplate, fantasy; padding: 0.5em; padding-left: 3em; padding-right: 3em;">Joshua Emmanuel Macam</h3>
                                    <span class="text" style="background-color: rgb(59, 37, 21); color:antiquewhite;"><strong>CEO</strong></span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28" style="color: antiquewhite;"><span class="display-26 text-secondary me-2 font-weight-600"><strong>Position</strong>:</span> CEO</li>
                                    <li class="mb-2 mb-xl-3 display-28" style="color: antiquewhite;"><span class="display-26 text-secondary me-2 font-weight-600"><strong>Experience</strong>:</span> 7 Years</li>
                                    <li class="mb-2 mb-xl-3 display-28" style="color: antiquewhite;"><span class="display-26 text-secondary me-2 font-weight-600"><strong>Email</strong>:</span> ejmacam242@gmail.com</li>
                                    <li class="mb-2 mb-xl-3 display-28" style="color: antiquewhite;"><span class="display-26 text-secondary me-2 font-weight-600"><strong>Website</strong>:</span> www.example.com</li>
                                    <li class="display-28" style="color: antiquewhite;"><span class="display-26 text-secondary me-2 font-weight-600"><strong>Phone</strong>:</span> 0969-066-0414</li>
                                </ul>
                                
                                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="col-lg-12 mb-4 mb-sm-5">
                <div>
                    <span class="section-title mb-3 mb-sm-4" style="color: antiquewhite;"><strong>About Me</strong></span>
                    <hr>
                    <p>Joshua Emmanuel Macam has been working for 7 years in different roles/positions and learning from everything he experienced. After working hard for 7 years, Joshua was named the CEO in December of 2030. </p>
                    <p class="mb-0">His resume shows the highlights of his career and hopefully can inspire you while you're doing your best as an individual who has a dream.</p>
                    
                    <p style="padding-top: 2em;">Joshua came from a small village called El Rosario Village full of memories and good experiences. His mother is a hardworking house wife and his father is also a hardworking gentleman. His parents became an inspiration to him that's why he worked really hard to achieve the position he has now. His interest in drinking coffee also helped him to be on the position he's in now. His favorite drink is Iced Americano and he enjoys it drinking with his wife Aubrey Macam.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div class="mb-4 mb-sm-5">
                            <hr>
                            <span class="section-title mb-3 mb-sm-4" style="color: antiquewhite;"><strong>My Skills</strong></span>
                            <hr>
                            <div class="progress-text">
                                <div class="row">
                                    <div class="col-6">CSS</div>
                                    <div class="col-6 text-end">80%</div>
                                </div>
                            </div>
                            <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                <div class="animated custom-bar progress-bar slideInLeft bg-dark" style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                            </div>
                            <div class="progress-text">
                                <div class="row">
                                    <div class="col-6">HTML</div>
                                    <div class="col-6 text-end">90%</div>
                                </div>
                            </div>
                            <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                <div class="animated custom-bar progress-bar slideInLeft bg-dark" style="width:90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                            </div>
                            <div class="progress-text">
                                <div class="row">
                                    <div class="col-6">Javascript</div>
                                    <div class="col-6 text-end">50%</div>
                                </div>
                            </div>
                            <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                <div class="animated custom-bar progress-bar slideInLeft bg-dark" style="width:50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                            </div>
                            <div class="progress-text">
                                <div class="row">
                                    <div class="col-6">PHP</div>
                                    <div class="col-6 text-end">60%</div>
                                </div>
                            </div>
                            <div class="custom-progress progress progress-medium" style="height: 4px;">
                                <div class="animated custom-bar progress-bar slideInLeft bg-dark" style="width:60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                            </div>
                        </div>
                        <div>
                            <hr>
                            <span class="section-title mb-3 mb-sm-4" style="color: antiquewhite;"><strong>Education</strong></span>
                            <hr>
                            <p>Holy Angel University - 2021-2025</p>
                            <p class="mb-1-9">Jocson College - 2019-2021</p>
                            <p class="mb-1-9">Children of Fatima Mabalacat - 2017-2021</p>
                            <p class="mb-1-9">Mabalacat Elementary School - 2013-2017</p>
                            <p class="mb-1-9">Saint Emiliana Academy Of Excellence - 2010-2013</p>
              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
