<section class="page-section text-white mb-0" id="about" style="background-image: url(assests/bg.jpg);">
    <form class="d-flex">
        <button class="btn btn-outline-light" type="submit" style= "margin-left: 100em;">
            <i class="bi-cart-fill me-1"></i>
            Discount Points
            <span class="badge bg-dark text-white ms-1 rounded-pill"> {{clickCount}} </span>
        </button>
    </form>
</section>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100" style="background-color: rgba(255, 255, 255, 0.459); margin-bottom: 5em;">
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/coffee.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Brewed Coffee! PROMO! -₱1 per points clicked!</h5>
                            <!-- Product price-->
                            ₱140
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                          <a class="btn btn-primary" (click)="clickMe()">Click to Get Discount Points</a>
                        </div>
                      </div>                      
                </div>
            </div>
            <p class="masthead-subheading font-weight-light mb-0" style="font-weight: 100;">{{ description }}</p>
        
