<body id="page-top">
    <!-- Navigation-->
    <!-- Masthead-->
    <header class="masthead text-white text-center" style="background-image: url(assets/bg.jpg);">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="assets/me.png">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">{{ name }}</h1>
            <br><br>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0"><strong>{{ course }}</strong></p>
            <br><br>
            <p class="masthead-subheading font-weight-light mb-0" style="font-weight: 100;">{{ description }}</p>
        </div>
    </header>
    

   
